#mission {
    font-size: 20px;
}
#create-successful {
    font-size: 18px;
}
.warning {
    color: crimson;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

.item-title {
    font-size: 24px;
    font-weight: bold;
}

.no-results {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.navbar-brand {
    font-size: 24px;
}

.results {
    font-size: 18px;
}

.reviews-title {
    font-size: 18px;
    font-weight: bold;
}

.highlight-string {
    font-weight: bold;
    font-size: larger;
    background-color: darkgray;
}

.editable-textarea{
    width: 100%;
}
/*nav.navbar {*/
/*    width: inherit;*/
/*}*/