{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}
<!--Written using examples from https://getbootstrap.com/docs/4.0/components/forms/?-->
<div id="create-entry" class="row">
    <form>
        <div class="form-group\">
            <label for="title-input">Title</label>
            <input type="text" class="form-control" id="title-input" placeholder="Enter the title of the book">
        </div>
        <div class="form-group">
            <label for="image-upload">Upload image</label>
            <input type="file" class="form-control-file" id="image-upload">
        </div>
        <div class="form-group">
            <label for="description-input">Enter a description</label>
            <textarea class="form-control" id="description-input" placeholder="Your description goes here" rows="5">
            </textarea>
        </div>
        <div>
            How Helpful was this book?
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rating-selection" id="rating1" value="rating1">
            <label class="form-check-label" for="rating1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rating-selection" id="rating2" value="rating2">
            <label class="form-check-label" for="rating2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rating-selection" id="rating3" value="rating3">
            <label class="form-check-label" for="rating1">3</label>
        </div>
                <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rating-selection" id="rating4" value="rating4">
            <label class="form-check-label" for="rating4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rating-selection" id="rating5" value="rating5">
            <label class="form-check-label" for="rating5">5</label>
        </div>
        <div class="form-group">
            <label for="review-input">Enter your review</label>
            <textarea class="form-control" id="review-input" placeholder="Your review goes here" rows="5">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}