{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="./../static/create.js"></script>
{% endblock %}

{% block content %}
<div id="create-successful" class="row">
<!--    Banner with success message and link goes here-->
</div>
<!--Written using examples from https://getbootstrap.com/docs/4.0/components/forms/?-->
<div id="create-entry" class="row">
    <form id="create-form" class="offset-1 col-10">
        <div class="form-group\">
            <label for="title-input" class="mt-3">Title</label>
            <input type="text" class="form-control editable-textarea" id="title-input" placeholder="Enter the title of the book">
            <span id="title-warning"></span>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="image-upload">Upload image</label>-->
<!--            <input type="file" class="form-control-file" id="image-upload">-->
<!--        </div>-->
        <div class="form-group\">
            <label for="media-link-input" class="mt-4">Link to image</label>
            <input type="text" class="form-control editable-textarea" id="media-link-input" placeholder="Enter the link to the image">
            <span id="media-link-warning"></span>
        </div>
        <div class="form-group">
            <label for="description-input" class="mt-4">Enter a description</label>
            <textarea class="form-control editable-textarea" id="description-input" placeholder="Your description goes here" rows="5">
            </textarea>
            <span id="description-warning"></span>
        </div>
        <div class="mt-1">
            How helpful was this book?
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating-selection" id="rating1" value=1>
                <label class="form-check-label" for="rating1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating-selection" id="rating2" value=2>
                <label class="form-check-label" for="rating2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating-selection" id="rating3" value=3>
                <label class="form-check-label" for="rating1">3</label>
            </div>
                    <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating-selection" id="rating4" value=4>
                <label class="form-check-label" for="rating4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating-selection" id="rating5" value=5>
                <label class="form-check-label" for="rating5">5</label>
            </div>
            <span id="rating-warning"></span>
        </div>
        <div class="form-group">
            <label for="review-input" class="mt-1">Enter your review</label>
            <textarea class="form-control editable-textarea" id="review-input" placeholder="Your review goes here" rows="5">
            </textarea>
            <span id="review-warning"></span>
        </div>
        <div class="form-group\">
            <label for="external-link-input" class="mt-2">Link to original page</label>
            <input type="text" class="form-control editable-textarea" id="external-link-input" placeholder="Link to the resource's original page">
            <span id="external-link-warning"></span>
        </div>
<!--        <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>-->
            <button id="submit-button" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock %}

{% block jquery %}
    <!--    JQuery-->
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--        Popper-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--        Bootstrap JS plugins-->
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
{% endblock %}