{% extends "layout.html" %}

{% block head %}
<!--Edit icons from https://icons.getbootstrap.com/icons/pencil-square/-->
<script>
    let details = {{ details|tojson }}
    console.log(typeof(details))
    console.log(details)
</script>
<script type="text/javascript" src="./../static/view.js"></script>
{% endblock %}

{% block content %}
<!--{{details}}--> <!--Debugging-->
<div class="row">
    <div id="title" class="item-title col-9 my-2"></div>
    <div id="rating" class="col-3 bold my-2"></div>
</div>
<div class="row">
    <div class="offset-1 col-10 offset-md-0 col-md-3">
        <div id="media"></div>
        <div id="visit-site" class="text-center editable mt-3 mb-2">
            <button id="edit-link">
                <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>
    <div id="description-area" class="col-12 col-md-9">
        <div class="row">
            <div id="description" class="col-12 editable">
                <button id="edit-description">
                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="list" class="row">
    <div class="reviews-title text-left col-12 mt-3 mb-2">Reviews</div>
</div>
{% endblock %}